*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial , sans-serif;
}

h1{
    margin: 50px 0px;
    text-align: center;
    font-size: 275%;
}

.container{
    position: relative;
    margin-left:5;
    width: 100%;
    justify-content: center;
    align-items: center;
}


.content{
    border: 1px solid black;
    float: left;
    background-color: lightgray;
    position: relative;
    margin-left:5;
}


.heading{
    font-weight: 900;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    justify-content: center;
    text-align: center;
    width: 30%;
    position: relative;
    float: right;
    margin-bottom: 3px;
    font-size: 125%;
}

#heading1{
    background-color: pink;
}

#heading2{
    background-color: #8B0000;
    color: white;
}

#heading3{
    background-color: #FFFF99;
}

p{
    clear: both;
    padding: 10px;
    font-weight: 500;
}

@media (min-width:992px){
    .content{
    width: 32%;
    margin-bottom: 5px;
    }
    .container{
        width:100%;
        margin:5px;
    }
}

@media (min-width:768px) and (max-width:991px){
    .content{
    width: 49%;
    margin-bottom: 5px;
    }
    .container{
        width:100%;
        margin:5px;
    }
    #c-3{
        width:98%;
    }
}

@media (max-width:767px){
    .content{
    width: 99%;
    margin-bottom: 5px;
    }
    .container{
        width:100%;
        margin:5px;
    }
}
